    <div class="container mt-5">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Acceso denegado</h4>
            <p>NO TENES PERMISO PARA ESTA SECCION</p>
            <hr>
            <a href="/login" class="btn btn-primary">Login</a>
        </div>
    </div>