{{#each arrayProductos}}
<div class="card"> 
    <h2> titulo:{{this.nombre}} </h2>
    <p>descripcion {{this.descripcion}}</p>
    <p>precio : {{this.precio}}</p>
    <button> compra </button>
</div>
{{/each}}