<header>
    <a href="/" class="logo" >Coderest</a>

    <nav>
        <ul>
            <li><a href="/upload">upload</a></li>
            <li><a href="">mi perfil</a></li>
            <li><a href="">contacto</a></li>
        </ul>
    </nav>


</header>