<h1> contacto </h1>

<form action="/enviarmensaje" method="POST">  
    <label for=""> Correo ElectroÌnico</label>
    <input type="text" name="email" required>
    <label for="mensaje">Mensaje</label>
    <textarea name="mensaje" id="" cols="30" rows="10" required></textarea>
    <button>Enviar</button>
</form>